@*
      @{
        ViewData["Title"] = "Home Page";
    }

*@
<!--for dummy /*<img src="/Tempwwwroot/mylogo.png" alt="dummy""/>
    <img src="~/images/logo.jpg" alt="logo" />-->

<section class="jumbotron-text-center">
    <div class="Container text-center">
        <h1 class="h1">Welcome to Book store</h1>
        <br />

        <p class="lead-text-muted"> thknvfvkejvn  snfcdvkrnd 43jkrhffnerlge mvdnv wdhwjvwd evjefknefkwef e </p>
        <p>
            <a href="#" class="btn-outline-primary">Search book</a>
        </p>
    </div>
</section>
<div class="container">
    <h3> All Books</h3>
    <div class="row">
        <div class="col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 1</text>
            </svg>
            <div class="card-body">
                <h3 class="card-title">book title</h3>
                <p class="card-text">thi nsid snfwfbef n,defwen</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn-btn-outline-secondry">View details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 1</text></svg>
            <div class="card-body">
                <h3 class="card-title">book title</h3>
                <p class="card-text">thi nsid snfwfbef n,defwen</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn-btn-outline-secondry">View details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 1</text></svg>
            <div class="card-body">
                <h3 class="card-title">book title</h3>
                <p class="card-text">thi nsid snfwfbef n,defwen</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn-btn-outline-secondry">View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            alert("page alert");
        });
    </script>
}